.ui-list-card {
    width: 328px;
    border: 1px solid #000000;
    border-radius: 10px !important;
    box-shadow: 4px 5px 4px #000000 !important;

    header {
        display: flex;
        font-size: 36px;
        color: #0C0C0C;
        justify-content: center;
        align-items: center;
        background-color: #E8E8E8;
        height: 105px
    };

    ul {
        min-height: 320px;
        font-size: 24px;
        color: #0C0C0C;
        margin: 20px;

        li {
            margin-bottom: 10px
        }
    }
}

.dark {
    border-color: #ffffff;
    box-shadow: 4px 5px 4px #ffffff !important;
    color: #ffffff;
    background-color: #C2C2C2 !important;
    
    header {
        color: #ffffff;
        background-color: #727272;
    };

    ul {
        color: #ffffff; 
    }
}