$black: #000000;
$textBlack: #0C0C0C;
$white: #ffffff;
$lightHeader: #E8E8E8;
$darkBackground: #C2C2C2;
$darkHeader: #727272;

.ui-list-card {
    width: 328px;
    border: 1px solid $black;
    border-radius: 10px !important;
    box-shadow: 4px 5px 4px $black !important;
    background-color: $white !important;

    header {
        align-items: center;
        background-color: $lightHeader;
        color: $textBlack;
        display: flex;
        font-size: 36px;
        height: 105px;
        justify-content: center
    };

    ul {
        color: $textBlack;
        font-size: 24px;
        margin: 20px;
        min-height: 320px;
        padding: 0;
        list-style-type: none;
        li {
            margin-bottom: 10px;
        };
        li:before {
            content: '- '
        }
    }
}

.dark {
    background-color: $darkBackground !important;
    border-color: $white;
    box-shadow: 4px 5px 4px $white !important;
    color: $white;
    
    header {
        background-color: $darkHeader;
        color: $white
    };

    ul {
        color: $white; 
    }
}